server {
        listen 80;
        listen [::]:80;
        root /var/www/html/photos;
        server_name {{ web_host }};
        index index.php index.html index.nginx-debian.html;

      
        location ~ \.php$ {
                fastcgi_pass unix:/run/php/php8.1-fpm.sock;
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $request_filename;
                include fastcgi_params;
        }



        location /phpmyadmin {
                alias /usr/share/phpmyadmin/;
                index index.php;
        location ~ \.php$ {
                fastcgi_pass unix:/run/php/php8.1-fpm.sock;
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $request_filename;
                include fastcgi_params;
        }
        }
}

